<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{{pageTitle}}</title>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body class="page-{{pageName}}">
    {{>nav}}
    {{{body}}}
</body>

</html>
