/* global */
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* nav */
.nav {
    background: #282c34;
    width: 160px;
    position: fixed;
    height:100%;
    border: 1px solid #d3d3d3;
}
.nav a{
    text-decoration: none;
    text-align: center;
    display: block;
    border-bottom: 1px solid #d3d3d3;
    padding: 10px 0;
    color: #d3d3d3;
}
.nav a:hover{
    color: #ffffff;
    background: #21252b;
}
.nav a svg {
    font-size: 15px;
}

.page-home a[href="/"],
.page-list a[href*="list"],
.page-account a[href*="account"],
.page-settings a[href*="settings"],
.page-help a[href*="help"],
.page-about a[href*="about"] {
    background: #484c54;
    color: #ffffff;
    fill: #ffffff;
}

/* nav */

/* content */
.content {
    margin-left:160px;
    padding:40px;
}
/* content */
