<div class="content">
    <h2>{{pageTitle}}</h2>
    <br>
    <p>
        This is a website template that runs on node (heroku). It uses Express for routing on the server and webpack for packaging and bundling assets on the client. Handlebars is used for templating. The templates are shared by the server and the client.
    </p>
    <br>
    <h4>Usage:</h4>
    <p>
        <pre>
  npm install
        </pre> (installs all dependencies for client and server. ie: express, handlebars, babel, less etc.)
    </p>
    <br>
    <br>
    <p>
        <pre>
  npm run <strong>express</strong>
        </pre> (runs local server with file watch)
    </p>
    <br>
    <br>
    <p>
        <pre>
  npm run <strong>dev</strong>
        </pre> (webpack, watches client js/less/hbs assets with name and builds to tmp folder)
    </p>
    <br>
    <br>
    <p>
        <pre>
  npm run <strong>build</strong>
        </pre> (webpack, builds client js/less/hbs assets with name and version to public css/js folders)
    </p>
</div>
