<div class="content">
    <h2>{{pageTitle}}</h2>
    <br>
    <h4>Sign Up</h4>
    <form class="create-form">
        <input type="email" placeholder="email"/><br>
        <input type="password" placeholder="password"/><br>
        <button type="submit">Sign Up</button>
        <div class="result"></div>
    </form>
    <h4>Login</h4>
    <form class="login-form">
        <input type="email" placeholder="email"/><br>
        <input type="password" placeholder="password"/><br>
        <button type="submit">Login</button>
        <div class="result"></div>
    </form>
    <br>
</div>
