<nav>
    <a href="/" class="nav-link"> <span class="glyphicon glyphicon-home"></span>Home</a>
    {{#if user}}
        <a href="/logout" class="nav-link"> <span class="glyphicon glyphicon-log-out"></span>Log Out ({{user}})</a>
    {{else}}
        <a href="/login" class="nav-link"> <span class="glyphicon glyphicon-user"></span>Login</a>
    {{/if}}
    <a href="/protected" class="nav-link"> <span class="glyphicon glyphicon-lock"></span>Protected Page</a>
</nav>
