<nav>
    <a href="/" class="nav-link"> <span class="glyphicon glyphicon-home"></span>Home</a>
    <a href="/gallery" class="nav-link"> <span class="glyphicon glyphicon-camera"></span>Gallery</a>
    <a href="/contact" class="nav-link"> <span class="glyphicon glyphicon-comment"></span>Contact</a>
</nav>
