<div class="content">
    <h2>{{pageTitle}}</h2>
    <img src="https://content-na.drive.amazonaws.com/cdproxy/templink/KZGsqNTNiERPIVTHOGH7o-AH0cfc71fGrEMeP5fjn_geJxFPc/alt/thumb?viewBox=1440">
</div>
