<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{{pageTitle}}</title>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/tmp/express-template.css">
</head>

<body>
    {{>nav}}
    {{{body}}}
</body>
<script src="/tmp/express-template.js"></script>
</html>
